<div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="jumbotron">
          <div class="row justify-content-center">
          <h2>
            Change Password
          </h2>
          </div>
        </div>
        <div class="row justify-content-center">
        <form  #passForm="ngForm" (ngSubmit)="changePassword(passForm)">
          <div class="form-group">
            <label for="newpassword">New password </label>
            <input
              class="form-control"
              type="password"
              name="newpassword"
              id="newpassword"
              placeholder="New password"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <label for="cnfnewpassword">Confirm new password </label>
            <input
              class="form-control"
              type="password"
              name="cnfnewpassword"
              id="cnfnewpassword"
              placeholder="Confirm new password"
              ngModel
              required
            />
          </div>
          <button [disabled]="passForm.invalid" type="submit" class="btn btn-primary">
            Change Password
          </button>
        </form>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  